<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="../static/css/style.css" charset="utf-8"> !-->
</head>
<body>
     <h1><%= header %></h1>
    <p>this is a index page</p>
    <p>EJS Welcome to <%= title %></p>
    <ul>
      <li><a href="/page/helloworld">/page/helloworld</a></li>
      <li><a href="/page/getParam?a=1&b=2">/page/getParam?a=1&b=2</a></li>
      <li><a href="/page/404">/page/404</a></li>
      <li><a href="/api/get/data.json">/api/get/data.json</a></li>
      <li><a href="/api/get/user.json">/api/get/user.json</a></li>
      <li><a href="/page/getCookie">/page/getCookie</a></li>
    </ul>
    <!-- <img src="../static/image/img.jpg"  class="h2-img" /> !-->
</body>
</html>